<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
  <title>RaiseFree</title>

<link href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../static/node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
<link href="../static/css/dashboard/style.css" rel="stylesheet">
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../static/node_modules/pace-progress/pace.min.js"></script>
<script src='https://loopj.com/jquery-tokeninput/src/jquery.tokeninput.js'></script>
<script src="../static/js/dashboard.js"></script>
<script src="../static/js/views/main.js"></script>
<script src="../static/js/autocomplete.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

</head>


<body class="app">

<table>
  
    <table class="table table-striped table-outline">
    <thead class="thead-light">
    <tr>
    <th>Username</th>
    <th>Balance</th>
    <th>Winnings</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>@Rahsaan</td>
    <td>$1000</td>
    <td>+$100,000</td>
    </tr>
    <tr>
    <td>@Steven</td>
    <td>$1000</td>
    <td>+$1302</td>
    </tr>
    <tr>
    <td>@Anthony</td>
    <td>$1000</td>
    <td>+$722</td>
    </tr>
    <tr>
    <td>@Austin</td>
    <td>$1000</td>
    <td>+$102</td>
    </tr>
    <tr>
    <td>@RF</td>
    <td>$1000</td>
    <td>+$602</td>
    </tr>
    <tr>
    <td>@JP</td>
    <td>$1000</td>
    <td>-$2302</td>
    </tr>
    <tr>
    <td>@Chambers</td>
    <td>$1000</td>
    <td>-$87,302</td>
    </tr>
    </tbody>
    </table> 
    </table>



  <footer class="app-footer">
    <span><a href="">RaiseFree</a> © 2017</span>
    <span class="ml-auto">Powered by <a href="#">RaiseFree</a></span>
  </footer>



</body>

</html>